.centerBox.opaque-back
  -#.descripStuff.opaque-back
  .heading.black
    FREQUENTLY ASKED QUESTIONS
  %br
  %br
  .gray.left-text
    %p
      %span.heading.black
        What is heartburn?
      %br
      Acid reflux is a burning sensation that often occurs after a heavy meal, following a stressful situation, or after drinking alcohol. The pain may spread into the neck, throat, and jawline. Heartburn is usually caused by the overproduction of gastric acid out of the stomach and if untreated overtime can lead to serious harmful complications such as active ulceration of the stomach, intestine, or erosion of the esophagus.
    %br
    %p
      %span.heading.black
        Why is TummyZen different?
      %br
      TummyZen’s zinc-based technology works in minutes and has been shown in human clinicals to work four times longer than leading antacids. We use only active ingredients derived from natural sources and are “generally regarded as safe” by the FDA.
    %br
    %p
      %span.heading.black
        What are the best foods for a person with acid reflux?
      %br
      The foods highlighted below are particularly helpful for reducing reflux. Having more of these foods will help give you the best chance for reducing your heartburn symptoms.
      %ul
        %li='Whole-Grain Bread'
        %li='Oatmeal'
        %li='Ginger'
        %li='Aloe Vera'
        %li='Salad'
        %li='Banana'
        %li='Melon'
        %li='Fennel'
        %li='Chicken and Turkey'
        %li='Fish and Seafood'
        %li='Cauliflower, Broccoli, Asparagus, Green Beans, and Other Greens'
        %li='Celery'
        %li='Parsley'
        %li='Couscous and Rice'
      Source: Stern and Bauer. Dropping Acid: The Reflux Diet Cookbook & Cure (c) G&H Soho, Inc. What are some foods that are notoriously bad for reflux?
    %br
    %p
      %span.heading.black
        What are the worst foods for a person with acid reflux?
      %br
      Some foods are almost universally problematic for people with reflux. The best strategy for the refluxer is to avoid the "bad" foods:
      %ul
        %li='Chocolate'
        %li='Soda'
        %li='Alcohol'
        %li='Any deep-fried food'
        %li='Bacon, sausage, ribs'
        %li='Cream sauce'
        %li='Fatty meat'
        %li='Butter, margarine, lard, shortening'
        %li='Coffee, tea'
        %li='Mint'
        %li='High-fat nuts'
        %li='Hot sauces and pepper'
        %li='Citrus fruit/juices'
      Source: Stern and Bauer. Dropping Acid: The Reflux Diet Cookbook & Cure (c) G&H Soho, Inc.