.imageStuff
  =image_tag('BOTTLE.png', :class=>'bottle_image')
.descripStuff
  .heading.black
    MEET NATURE'S SMARTER MEDICINE
  %br
  .gray
    Formulated in Yale University Labs
    %br
    TummyZen gives you 2 hours of heartburn relief
    %br
    that starts in just 15 minutes.
    %br
    %br
    The natural and gentle solution to acid reflux.