.imageStuff.span2
  =image_tag('BOTTLE.png', :class=>'bottle_image')
.descripStuff.span4
  .heading.black
    MEET NEXT GENERATION'S ANTACID
  %br
  .gray
    Based on patented Yale University reasearch
    %br
    Clinically proven to last 4x longer than traditional antacids.
    %br
    Shown to give relief within 15 minutes.
    %br
    %br
    Made with safe and natural ingredients.
    %br
    %br
    %strong
      Science + Nature = Zen for your tummy