.imageStuff.right_align
  =image_tag('BOTTLE.png', :class=>'bottle_image_bigger')
.descripStuff
  .heading.black
    MEET THE NEXT-GENERATION ANTACID
  %br
  .gray
    Based on patented Yale University research
    %br
    Clinically proven to last 4x longer than traditional antacids.
    %br
    Shown to give relief within 15 minutes.
    %br
    %br
    Made with safe and natural ingredients.
    %br
    Tummyzen is manufactured in an FDA regulated facility. 
    %br
    %strong
      Science + Nature = Zen for your tummy