.howBox.opaque-back
  .howStuff.opaque-back
    .heading.black
      TUMMYZEN TACKLES ACID IN 3 WAYS
  %br
  %br
  .howStuff.opaque-back
    .black
      Neutralizes Excess Acid
    .gray
      Calcium Carbonate Provides Immediate Relief by Reducing Acidity
    %br
  .howStuff.opaque-back
    .black
      Pause Acid Production
    .gray
      Patented Zinc Salts Stop Production of More Acid for 2-3 Hours
    %br
  .howStuff.opaque-back
    .black
      Restore Balance
    .gray
      Nature's Superfood, barley grass, promotes digestion and restores stomach pH
  .howStuff
    %br
    %strong
      Science + Nature = Zen for Your Tummy
    .pull-right
      .buy-now
        .clickBox.rounded-corners
          =link_to 'Learn More', how_more_path, :class=>"heading"