.howBox
  .howStuff
    .heading.black
      WHAT IS ACID REFLUX?
    .gray
      We should put something about acid reflux here.
    %br
  .howStuff
    .heading.black
      ZINC
    .gray
      We should put something about zinc here.
    %br
  
  .howStuff
    .heading.black
      COPPER
    .gray
      We should put something about copper here.
    %br
  .howStuff
    .heading.black
      BARLEY GRASS
    .gray
      We should put something about barley grass here.