.howBox.opaque-back
  .howStuff.opaque-back
    .heading.black
      WHAT'S THE BIG IDEA?
    .gray
      Typically, people experience heartburn when there is too much acidity in their stomachs and their digestive tracks is under pressure--either from overeating, genetics, or other organs. Antacids temporarily reduce the stomach's acidity to an artifially low level, causing the stomach to produce even more acid in order to effectively digest food.  TummyZen reduces the stomach's acidity to within normal bounds for digestion and regulate acid production at a cellular level through its patented zinc salts. This way, you get quick and long lasting heartburn relief.
    %br
  .howStuff.opaque-back
    .heading.black
      ZINC
    .gray
      TummyZen's patented zinc salts are primarily responsible for regulating acid-production in the stomach's cells. Zinc gives relief for up to 3 hours. After three hours, around the time required to digest a meal, the effects of zinc wear off and stomach cells resume normal functioning. In addition, zinc promotes the production of stomach lining, protecting the stomach against acid-related damage.
    %br
  .howStuff.opaque-back
    .heading.black
      CALCIUM
    .gray
      Precise doses of calcium quickly lower acidity levels in the stomach without disrupting the stomach's ability to digest. Calcium gives quick relief within 15 minutes. 
    %br
  .howStuff.opaque-back
    .heading.black
      COPPER
    .gray
      Trace amounts of copper rebalance the body's normal ratio of minerals.
    %br
  .howStuff.opaque-back
    .heading.black
      BARLEY GRASS
    .gray
      Barley Grass is nature's antacid. In conjunction with zinc and calcium, barley grass supplements calcium's efficacy.

%br
%br