.imageStuff
  =image_tag('BOTTLE.png', :class=>'bottle_image')
.descripStuff
  .heading.black
    TUMMYZEN
  %br
  .gray
    $14.99 per bottle
  %br
  .heading.black
    QUANTITY
  .purchase-now.buy-now
    %form{:action => 'https://www.paypal.com/cgi-bin/webscr', :method=>'post', :target=>'_blank'}
      %input{:type=>'hidden', :name=>'cmd', :value=>'_s-xclick'}
      %input{:type=>'hidden', :name=>'hosted_button_id', :value=>'F33MK4RA53XNS'}
      %input{:type=>'submit', :border=>'0', :name=>'submit', :class=>'clickBox rounded-corners heading submit', :value=>'Buy Now'}
      %img{:alt=>'', :border=>'0', :src=>'https://www.paypalobjects.com/en_US/i/scr/pixel.gif', :width=>'1', :height=>'1'}
      %div{:style=>'clear:both;'}
      %ul.caption.gray.left-text
        %li= 'Processed by PayPal'
        %li= 'TummyZen does not store any payment information'