.imageStuff
  =image_tag('BOTTLE.png', :class=>'bottle_image')
.descripStuff
  .heading.black
    TUMMYZEN
  %br
  .gray
    $13.99 per bottle
  %br
  .heading.black
    QUANTITY
  .purchase-now.buy-now
    .clickBox.rounded-corners
      =link_to 'Coming Soon', purchase_path, :class=>"heading"