.imageStuff
  =image_tag('BOTTLE.png', :class=>'bottle_image')
.descripStuff
  .heading.black
    TUMMYZEN
  %br
  .gray
    $14.99 per bottle
  %br
  .heading.black
    QUANTITY

  .buy-now
    .clickBox.rounded-corners.pull-left
      =link_to 'Buy Now', 'http://www.amazon.com/TummyZen/dp/B00I09MKJW/ref=sr_1_1?ie=UTF8&qid=1392611098&sr=8-1&keywords=Tummyzen', :class=>"heading", :onclick="ga('send', 'event', 'button', 'click', 'Buy Now');"

  .caption.gray="Purchase on Amazon Webstore"