.centerBox.opaque-back
  -#.descripStuff.opaque-back
  .heading.black
    LEARN WHY OUR HEARTS BURN TO SOLVE HEARTBURN
  %br
  .gray.left-text
    %p
      Meet Dr. John Geibel, Yale University School of Medicine Professor of Gastrointestinal Surgery, and Cellular and Molecular Physiology.  
      %br
    %p
      For nearly a decade, Dr. Geibel has been treating patients with severe Acid Reflux and found himself searching for a better solution. He wanted to develop something that would give his patients peace of stomach and peace of mind.  After working tirelessly in his lab, Dr. Geibel discovered special zinc salts that met all of his needs.  His salts are safe and provide nutrients that the body needs anyway, and last 4 times longer than traditional antacids! After publishing his research in The American Journal of Gastroenterology and validating his findings, Dr. Geibel was anxious to bring his product to the millions of Americans suffering from acid reflux and heartburn!
      %br
    %p
      Enter Hasan Ansari. Hasan suffered with heartburn himself, and watched his wife struggle with heartburn throughout her first pregnancy.  He felt there had to be a better solution than the hardcore drugs available on the market, but stronger than plain old antacids.  He wanted to find a heartburn solution so safe he felt comfortable giving it to his family but effective enough to trust that it would work.
      %br
    %p
      Together, the pair breathed life into Dr. Geibel's ground-breaking research and founded TummyZen. Their young company is rooted in a philosophy that nature-friendly ingredients backed by rigorous scientific methods create effective, and safe products.
    %br
    .strong
      Science + Nature = Zen for your tummy