/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body 
{
  height:100%;
  width:100%;
  font-size:18pt;
  font-family: Helvetica;

}
#wrap
{ 
  min-height:100%;
}

#main 
{ 
  overflow:auto;
  padding-bottom:40px;
}

@media (max-width: 767px) 
{
  .footer /* To prevent footer from being less than 100% when screen size changes */
  {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}

.heading
{
  font-size:1.4em;
}
.caption
{
  font-size:0.8em;
}
.green
{
  color:#bad87c;
}
.gray
{
  color:#808184;
}
.white
{
  color:#ffffff;
}
.black
{
  color:#000000;
}


.header
{
  padding-bottom:15px;
  padding-top:15px;
  background-color:#000000;
  text-align:left;
}

.header a
{
  color:#bad87c;
  margin-left:20px;
  cursor:pointer;
}

.header a:hover
{
  color:#baff7c;
  text-decoration:none;
}
.header a:active
{
  color:#bac07c;
}
.header a.active
{
  color:#ffffff;
}


.footer
{
  position:relative;
  margin-top:-40px;
  height:40px;
  clear:both;
  width:100%;
  background-color:transparent;
}

.footer .linkBox
{
  float:right;
  padding-right:20px;
}
.footer .linkBox a
{
  margin-right:20px;
  color:#808184;
}
.footer .linkBox a:active
{
  color:#606060;
}

.footer .linkBox a:visited
{
  text-decoration:none;
  color:#808184;
}

.mainBody
{

  width:auto;
  height:auto;
  margin-left:auto;
  margin-right:auto;
  text-align:left;

  width:100%;
  max-width:600px;
  z-index:9;
}





