// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.background_floater
{
  height:600px;
  width:650px; 
  position:absolute;
  top:12%;
  left:30px;
  background-image: image-url('Zinc_Background.png');
  background-repeat: no-repeat;
  background-position: left center;
  z-index: -1;
}

div.logoRow
{
  float:none;
  width:100%;
  clear:both;

  height:10em;
}

.logoBox
{
  float:right;  
  width:45%;
  text-align:right;
}
.logoBox img
{
  margin-left:20px;
  margin-top:20px;
  height:100px;
  width:auto;
}

.buy-now
{
  float:left;
  width:45%;
  width:12em;
  text-align:center;
}
.clickBox
{
  margin-left: auto;
  margin-right:auto;
  background-color:#bad87c;
  width:10em;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:20px;
}
.buy-now .clickBox a
{
  color:#ffffff;
  cursor:pointer;
}
.buy-now .clickBox a:hover
{
  color:#808182;
  text-decoration:none;
}
.buy-now .clickBox a:active
{
  color:#000000;
  text-decoration:none;
}

.purchase-now .clickBox
{
  margin-left:0px;
  margin-right:0px;
  float:left;
}

.submit
{
  color:#ffffff;
  cursor:pointer;
  width:25em;
  margin-left:40px;
  margin-right:40px;
  border:0px;
  border-style:none;
}
.submit:hover
{
  color:#808182;
  text-decoration:none;
}
.submit:active
{
  color:#000000;
  text-decoration:none;
}



.rounded-corners
{
  -moz-border-radius: 1.5em;
  border-radius: 1.5em;
}

.imageStuff
{
  float:left;
}
.descripStuff
{
  float:left;
  margin-left:30px;
  margin-top: 5em;
}

.bottle_image
{
  height:20em;
  width:auto;
}

.centerBox
{
  float:none;
  margin-left: auto;
  margin-right:auto;
  text-align:left;
  padding:10px;
}
.howBox
{
  float:none;
  margin-left: auto;
  margin-right: auto;
}
.howStuff
{
  float:left;
  margin-left:20px;
  margin-top: 10px;
  text-align:left;
  clear:both;
}
.nutritStuff
{
  float:right;
}
.nutritStuff img
{
  width:400px;
  height:auto;
}
