.header
  =link_to "HOME", root_path, :class=>'heading'
  =link_to "OUR STORY", story_path, :class=>'heading'
  =link_to "HOW IT WORKS", how_path, :class=>'heading'
  =link_to "PURCHASE", purchase_path, :class=>'heading'