.header
  %a{:class => page_nav=='home' ? 'heading active' : 'heading in_active', :href=>root_path}='HOME'
  %a{:class => page_nav=='story' ? 'heading active' : 'heading in_active', :href=>story_path}='OUR STORY'
  %a{:class => page_nav=='how' ? 'heading active' : 'heading in_active', :href=>how_path}='HOW IT WORKS'
  %a{:class => page_nav=='purchase' ? 'heading active' : 'heading in_active', :href=>purchase_path}='PURCHASE'